.container1{
  display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 200px 50px 9fr 1fr;
    grid-template-areas: 
    "header header"
    "menu menu"
    "main aside"
    "footer footer";
}

@media screen and (max-width: 750px) {
  .container1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 105px 7fr 2fr 1fr;
    grid-template-areas: 
    "header"
    "menu"
    "main" 
    "aside"
    "footer";
  }
  .menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-left: 20px;
  }
  .search_box {
    grid-column: 1 / span 6;
    display: grid;
    grid-template-columns: 7fr 3fr;
    text-align: center;
  }
 
}

body{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.header{
    grid-area: header;
    background-color: rgb(209, 202, 202);
    height: 300px;
    text-align: center;
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
margin-bottom: 10px;
}
.menu{
    grid-area:menu; 
    background-color: rgb(241, 174, 151);
    display: grid;
    grid-template-columns:repeat(6,1fr) 4fr;
    justify-content: start;

}

.menu_label {
  color:black;
  padding: 15px 15px;
  text-decoration: none;
  display: inline-block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: white;
  text-align: left;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: lightpink;
}

.menu_group:hover .dropdown {
  display: block;
}

.menu_label:hover {
  background-color: crimson;
}
.search_box {
  text-align: end;
  justify-self: end;
  align-self: center;
  padding: 0 10px;
  margin-bottom: 10px;
  border-bottom: 10px;
}

.menu input {
  border: 2px solid brown;
  border-radius: 5px;
  padding: 10px 20px;
  transition: box-shadow 0.5s, border 0.5s;

}

.menu input:focus {
  border: 2px solid red;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(255, 0, 0, 0.25);
}
button {
  background-color: gold;
  color: black;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  border: 1px solid yellow;
  margin-left: 5px;
}

button:hover {
  background-color: yellow;
}

button:focus {
  background-color: gold;}


.main{
    grid-area: main;
    background-color: rgb(177, 235, 235);
    padding: 10px;

    
}
.aside{
    grid-area: aside;
    background-color: rgb(245, 228, 228);    
    padding: 10px;
}
.footer{
    grid-area: footer;
    background-color: rgb(216, 205, 205);
    text-align: center;
    padding-top: 30px;
}
.logo {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    margin-bottom: 15px;
}
.registerform{
    margin: 10px 20px;
    margin-right: 40%;
}
.purchasecontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "items cart"
    ". ."
    "checkout checkout";
    margin: 10px;
}
.checkout{
    grid-area: checkout;
}
a,
a:hover,a:focus{
    padding-left: 50px;
    text-decoration: none;
    color: black;
}
img{
    width: 300px;
    height: 200px;
}
ul{
    list-style-type: none;
    }
    ol{
        text-align: left;
    }
    .contact{
        text-align: left;
    }
.container2{
    text-align: center;
}
h4{
  padding-left: 30px;
}
h5{
  padding-left: 70px;
}
i{
  padding: 10px;
}